In [1]:
import pandas as pd
import numpy as np

# Notes
## Source:
https://usc.data.socrata.com/Los-Angeles/Age-Distribution-LA-/rqg9-k6ju

## Denominator:
Census tract total population

In [43]:
age_path = '/Users/kevinmarlis/Downloads/Age_Distribution__LA_.csv'
df = pd.read_csv(age_path)

# year = 2019
# df = df[df['Year'] == year]

df = df.drop(['Policy Area', 'Dataset', 'Tract', 'Row ID', 'Denominator Description'], axis=1)

df['Population Total'] = df['Denominator']
df['Age Bracket'] = df['Variable']

df = df.drop(['Denominator', 'Variable'], axis=1)

In [45]:
print(len(df['Neighborhood'].unique()))
df['Neighborhood'].unique()

261

array(['Tujunga', 'Shadow Hills', 'Sun Valley', 'Sunland',
       'Lake View Terrace', 'Pacoima', 'Lopez/Kagel Canyons', 'Sylmar',
       'Granada Hills', 'Porter Ranch', 'Chatsworth', 'Mission Hills',
       'North Hills', 'Northridge', 'West Hills', 'Canoga Park',
       'Winnetka', 'Arleta', 'Panorama City', 'North Hollywood',
       'Valley Glen', 'Valley Village', 'Sherman Oaks', 'Toluca Lake',
       'Van Nuys', 'Reseda', 'Lake Balboa', 'Tarzana', 'Woodland Hills',
       'Encino', 'Studio City', 'Hollywood Hills', 'Eagle Rock',
       'Highland Park', 'Montecito Heights', 'Mount Washington',
       'Cypress Park', 'Glassell Park', 'Atwater Village',
       'Elysian Valley', 'Silver Lake', 'Los Feliz', 'Watts', 'Hollywood',
       'East Hollywood', 'Fairfax', 'Hancock Park', 'Larchmont',
       'Hollywood Hills West', 'Beverly Grove', 'Echo Park', 'Westlake',
       'Chinatown', 'Lincoln Heights', 'El Sereno', 'Boyle Heights',
       'Downtown', 'Pico-Union', 'Koreatown', 'Windsor Square',
       'Mid-Wilshire', 'Arlington Heights', 'Harvard Heights',
       'Pico-Robertson', 'Mid-City', 'Carthay', 'West Adams',
       'Jefferson Park', 'Baldwin Hills/Crenshaw', 'Adams-Normandie',
       'University Park', 'Exposition Park', 'Historic South-Central',
       'Central-Alameda', 'South Park', 'Vermont Square',
       'Chesterfield Square', 'Vermont-Slauson', 'Leimert Park',
       'Hyde Park', 'Harvard Park', 'Vermont Knolls', 'Manchester Square',
       'Gramercy Park', 'Florence', 'Green Meadows',
       'Broadway-Manchester', 'Vermont Vista', 'Beverly Crest', 'Bel-Air',
       'Brentwood', 'Pacific Palisades', 'Westwood', 'West Los Angeles',
       'Sawtelle', 'Century City', 'Cheviot Hills', 'Beverlywood',
       'Palms', 'Rancho Park', 'Mar Vista', 'Venice', 'Del Rey',
       'Playa Vista', 'Westchester', 'Playa del Rey', 'Harbor Gateway',
       'Harbor City', 'Wilmington', 'San Pedro', 'La Crescenta-Montrose',
       'Glendale', 'Burbank', 'San Fernando', 'La Verne', 'Claremont',
       'San Dimas', 'Glendora', 'Azusa', 'Pomona', 'Industry',
       'Diamond Bar', 'South Diamond Bar', 'Walnut', 'West Covina',
       'Covina', 'Charter Oak', 'Citrus', 'Irwindale', 'Baldwin Park',
       'Vincent', 'West Puente Valley', 'La Puente', 'Valinda',
       'South San Jose Hills', 'Rowland Heights', 'Avocado Heights',
       'Hacienda Heights', 'Duarte', 'Bradbury', 'Monrovia', 'Arcadia',
       'Sierra Madre', 'Mayflower Village', 'Temple City',
       'North El Monte', 'East San Gabriel', 'Rosemead', 'El Monte',
       'South El Monte', 'Whittier Narrows', 'Pasadena', 'Altadena',
       'La Canada Flintridge', 'East Pasadena', 'San Pasqual',
       'San Marino', 'San Gabriel', 'Alhambra', 'South Pasadena',
       'Monterey Park', 'South San Gabriel', 'Montebello',
       'La Habra Heights', 'Whittier', 'North Whittier', 'Pico Rivera',
       'West Whittier-Los Nietos', 'South Whittier', 'Santa Fe Springs',
       'La Mirada', 'East Whittier', 'East Los Angeles', 'Commerce',
       'Vernon', 'Huntington Park', 'Florence-Firestone', 'Maywood',
       'Bell', 'Bell Gardens', 'Cudahy', 'Walnut Park', 'South Gate',
       'Lynwood', 'Willowbrook', 'West Compton', 'Carson', 'Compton',
       'East Compton', 'Rancho Dominguez', 'West Carson', 'Norwalk',
       'Downey', 'Bellflower', 'Paramount', 'Cerritos', 'Artesia',
       'Lakewood', 'Long Beach', 'Hawaiian Gardens', 'Signal Hill',
       'Avalon', 'Unincorporated Catalina Island', 'Westmont',
       'Inglewood', 'Lennox', 'Hawthorne', 'Del Aire', 'Gardena',
       'Athens', 'Alondra Park', 'Lawndale', 'El Segundo',
       'Manhattan Beach', 'Redondo Beach', 'Hermosa Beach', 'Torrance',
       'Lomita', 'Rolling Hills Estates', 'Palos Verdes Estates',
       'Rancho Palos Verdes', 'Rolling Hills', 'West Hollywood',
       'Beverly Hills', 'Veterans Administration', 'Santa Monica',
       'Culver City', 'Marina del Rey', 'Ladera Heights',
       'View Park-Windsor Hills', 'Calabasas', 'Topanga',
       'Unincorporated Santa Monica Mountains', 'Hidden Hills',
       'Agoura Hills', 'Westlake Village', 'Malibu',
       'Northeast Antelope Valley', 'Lake Los Angeles', 'Lancaster',
       'Northwest Antelope Valley', 'Quartz Hill', 'Palmdale',
       'Northwest Palmdale', 'Southeast Antelope Valley', 'Acton',
       'Santa Clarita', 'Castaic Canyons', 'Tujunga Canyons',
       'Agua Dulce', 'Ridge Route',
       'Unincorporated Santa Susana Mountains', 'Castaic',
       'Stevenson Ranch', 'Angeles Crest', 'Griffith Park',
       'Elysian Park', 'Sepulveda Basin', 'Hansen Dam', 'Universal City',
       'Chatsworth Reservoir'], dtype=object)

In [42]:
df[df['Tract Number'] == 980008]

,Year,Percent,Count,Tract Number,Neighborhood,GEOID,Location,Date,Population Total,Age Bracket
2313,2010,5.263158,10.0,980008,Van Nuys,1400000US06037980008,"(34.21063661, -118.49068845)",01/01/2010,190.0,Population Ages 18-24
4636,2011,0.000000,0.0,980008,Van Nuys,1400000US06037980008,"(34.21063661, -118.49068845)",01/01/2011,211.0,Population Ages 18-24
6960,2012,0.000000,0.0,980008,Van Nuys,1400000US06037980008,"(34.21063661, -118.49068845)",01/01/2012,259.0,Population Ages 18-24
9284,2013,0.000000,0.0,980008,Van Nuys,1400000US06037980008,"(34.21063661, -118.49068845)",01/01/2013,101.0,Population Ages 18-24
11607,2014,4.098361,5.0,980008,Van Nuys,1400000US06037980008,"(34.21063661, -118.49068845)",01/01/2014,122.0,Population Ages 18-24
...,...,...,...,...,...,...,...,...,...,...
153294,2015,16.129032,20.0,980008,Van Nuys,1400000US06037980008,"(34.21063661, -118.49068845)",01/01/2015,124.0,Population Under Age 18
155617,2016,27.397261,20.0,980008,Van Nuys,1400000US06037980008,"(34.21063661, -118.49068845)",01/01/2016,73.0,Population Under Age 18
157939,2017,35.135136,26.0,980008,Van Nuys,1400000US06037980008,"(34.21063661, -118.49068845)",01/01/2017,74.0,Population Under Age 18
160261,2018,40.000000,36.0,980008,Van Nuys,1400000US06037980008,"(34.21063661, -118.49068845)",01/01/2018,90.0,Population Under Age 18
162583,2019,51.470589,35.0,980008,Van Nuys,1400000US06037980008,"(34.21063661, -118.49068845)",01/01/2019,68.0,Population Under Age 18

In [34]:
df[df['Count'].isnull()]

,Variable,Year,Percent,Count,Tract Number,Neighborhood,GEOID,Location,Date,Denominator,Population Total,Age Bracket
133513,Population Ages 45-54,2019,NaN,NaN,980002,Carson,1400000US06037980002,"(33.81032242, -118.23867338)",01/01/2019,NaN,NaN,Population Ages 45-54
162610,Population Under Age 18,2019,NaN,NaN,980020,Shadow Hills,1400000US06037980020,"(34.22669419, -118.30341525)",01/01/2019,NaN,NaN,Population Under Age 18
162623,Population Ages 45-54,2019,NaN,NaN,980025,Carson,1400000US06037980025,"(33.84299739, -118.23867802)",01/01/2019,NaN,NaN,Population Ages 45-54
162629,Population Ages 18-24,2019,NaN,NaN,980030,El Segundo,1400000US06037980030,"(33.90969343, -118.4107089)",01/01/2019,NaN,NaN,Population Ages 18-24
162634,Population Ages 25-34,2019,NaN,NaN,980014,Wilmington,1400000US06037980014,"(33.78420408, -118.23713972)",01/01/2019,NaN,NaN,Population Ages 25-34
...,...,...,...,...,...,...,...,...,...,...,...,...
164029,Population Ages 55-64,2019,NaN,NaN,980033,Long Beach,1400000US06037980033,"(33.77338907, -118.22794959)",01/01/2019,NaN,NaN,Population Ages 55-64
164033,Population Ages 35-44,2019,NaN,NaN,980013,El Segundo,1400000US06037980013,"(33.91650193, -118.38715734)",01/01/2019,NaN,NaN,Population Ages 35-44
164041,Population Ages 25-34,2019,NaN,NaN,980018,Long Beach,1400000US06037980018,"(33.81525915, -118.15230501)",01/01/2019,NaN,NaN,Population Ages 25-34
164058,Population Ages 55-64,2019,NaN,NaN,980005,Torrance,1400000US06037980005,"(33.85321321, -118.3273623)",01/01/2019,NaN,NaN,Population Ages 55-64
164059,Population Under Age 18,2019,NaN,NaN,990300,Long Beach,1400000US06037990300,"(33.74147507, -118.1624473)",01/01/2019,NaN,NaN,Population Under Age 18

In [35]:
df[df['Count']> 0]

,Variable,Year,Percent,Count,Tract Number,Neighborhood,GEOID,Location,Date,Denominator,Population Total,Age Bracket
20910,Population Ages 18-24,2019,6.794303,291.0,101110,Tujunga,1400000US06037101110,"(34.25947853, -118.29299909)",01/01/2019,4283.0,4283.0,Population Ages 18-24
20911,Population Ages 18-24,2019,8.487518,289.0,101122,Tujunga,1400000US06037101122,"(34.26772618, -118.29015869)",01/01/2019,3405.0,3405.0,Population Ages 18-24
20912,Population Ages 18-24,2019,10.256814,651.0,101210,Tujunga,1400000US06037101210,"(34.25297726, -118.29074307)",01/01/2019,6347.0,6347.0,Population Ages 18-24
20913,Population Ages 18-24,2019,8.238790,305.0,101220,Tujunga,1400000US06037101220,"(34.25161333, -118.28164445)",01/01/2019,3702.0,3702.0,Population Ages 18-24
20914,Population Ages 18-24,2019,4.685891,182.0,101300,Tujunga,1400000US06037101300,"(34.24878243, -118.27101097)",01/01/2019,3884.0,3884.0,Population Ages 18-24
...,...,...,...,...,...,...,...,...,...,...,...,...
162586,Population Under Age 18,2019,13.768116,19.0,980019,Pacific Palisades,1400000US06037980019,"(34.0913367, -118.54820361)",01/01/2019,138.0,138.0,Population Under Age 18
162587,Population Under Age 18,2019,15.151515,5.0,980021,Hansen Dam,1400000US06037980021,"(34.26661341, -118.37750427)",01/01/2019,33.0,33.0,Population Under Age 18
162588,Population Under Age 18,2019,22.421524,50.0,980024,Sepulveda Basin,1400000US06037980024,"(34.17668295, -118.48863053)",01/01/2019,223.0,223.0,Population Under Age 18
162589,Population Under Age 18,2019,57.692307,15.0,980026,Tujunga,1400000US06037980026,"(34.27080277, -118.26700517)",01/01/2019,26.0,26.0,Population Under Age 18
162590,Population Under Age 18,2019,2.127660,25.0,980031,San Pedro,1400000US06037980031,"(33.73923048, -118.25670472)",01/01/2019,1175.0,1175.0,Population Under Age 18

In [36]:
df[(df['Neighborhood'] == 'Tujunga')& (df['Tract Number'] == 101110)]

,Variable,Year,Percent,Count,Tract Number,Neighborhood,GEOID,Location,Date,Denominator,Population Total,Age Bracket
20910,Population Ages 18-24,2019,6.794303,291.0,101110,Tujunga,1400000US06037101110,"(34.25947853, -118.29299909)",01/01/2019,4283.0,4283.0,Population Ages 18-24
44134,Population Ages 25-34,2019,15.222975,652.0,101110,Tujunga,1400000US06037101110,"(34.25947853, -118.29299909)",01/01/2019,4283.0,4283.0,Population Ages 25-34
67357,Population Ages 35-44,2019,12.958207,555.0,101110,Tujunga,1400000US06037101110,"(34.25947853, -118.29299909)",01/01/2019,4283.0,4283.0,Population Ages 35-44
90582,Population Ages 45-54,2019,13.541910,580.0,101110,Tujunga,1400000US06037101110,"(34.25947853, -118.29299909)",01/01/2019,4283.0,4283.0,Population Ages 45-54
113807,Population Ages 55-64,2019,14.102264,604.0,101110,Tujunga,1400000US06037101110,"(34.25947853, -118.29299909)",01/01/2019,4283.0,4283.0,Population Ages 55-64
137037,Population Ages 65 & Older,2019,16.974083,727.0,101110,Tujunga,1400000US06037101110,"(34.25947853, -118.29299909)",01/01/2019,4283.0,4283.0,Population Ages 65 & Older
160268,Population Under Age 18,2019,20.406258,874.0,101110,Tujunga,1400000US06037101110,"(34.25947853, -118.29299909)",01/01/2019,4283.0,4283.0,Population Under Age 18